--extra-index-url https://download.pytorch.org/whl/cpu
pandas>=2.2.2
numpy>=1.26.4
torch>=2.5.0
joblib>=1.4.2
scikit-learn==1.6.1
alpaca-py==0.33.0
psycopg2-binary>=2.9.9
aiohttp>=3.9.4
pytz>=2024.1
websockets>=12.0,<14.1
pydantic-settings>=2.0.0
